<h3>Cart</h3>

<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }}</span>
  <span>{{ item.price | currency }}</span>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">

  <div>
    <label for="name">
      Name
    </label>
    <input id="name" type="text" formControlName="name">
  </div>

  <div>
    <label for="email">
      Address
    </label>
    <input id="email" type="text" formControlName="address">
  </div>

  <button class="button" type="submit">Purchase</button>
  <a class="backButton"  [routerLink]="['/']">
      <button>Home</button>
    </a>
</form>
