/* Global Styles */

* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: row;
}

router-outlet + *  {
  padding: 0 16px;
}

/* Text */

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h1, h2 {
  font-weight: lighter;
}

p {
  font-size: 14px;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/* Input */

input {
  font-size: 14px;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #BDBDBD;
}

label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}

/* Button */
.button, button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  background-color: #1976d2;
  color: white;
  border: none;
}

.button:hover, button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}

/* Fancy Button */

.fancy-button {
  background-color: white;
  color: #1976d2;
}

.fancy-button i.material-icons {
  color: #1976d2;
  padding-right: 4px;
}

/* Top Bar */

app-top-bar {
  width: 100%;
  height: 68px;
  background-color: #60b6d7;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

app-top-bar h1 {
  color: white;
  margin: 0;
}

app-product-list{
display: flex;
justify-content: center;
flex-wrap: wrap;

}

app-product-details{
margin: 0  auto;
border-style: solid;
border-color: #1976d2;
border-radius: 5px;
margin-top: 5%;
width: 50%;
padding-bottom: 4%;
text-align: center;
}

app-cart{
margin: 0  auto;
border-style: solid;
border-color: #1976d2;
border-radius: 5px;
margin-top: 5%;
width: 50%;
text-align: center;
padding-bottom: 4%;

}

.product-listing{

width: 400px;
border-style: solid;
border-color: #1976d2;
border-radius: 5px;
margin: 1%;
text-align: center;

}

.product-listing:hover{

background-color: #f2f8ff;
}


.product-header{

  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 1%;
  font-size: 50px;
  color: #1976d2cc;
}

.backButton{

  margin-left: 5%;
}

.imgUrl{

  margin-bottom: 2%;
}

.imgurlInner{
width: 30%;
height: 20%;

}

.jumboImg{

margin-top: 0.5%;
width: 100%;
}
/* Checkout Cart, Shipping Prices */

.cart-item, .shipping-item {
  width: 100%;
  width: 400px;
  display: flex;
  flex-direction: wrap;
  justify-content: space-between;
  padding: 16px 32px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: #EEEEEE;
}

.cart-item{

  margin: 0 auto;
  margin-bottom: 1%;
  width:50%;
}

@media only screen and (max-width: 768px){

  .cart-item{
    display: flex;
  flex-direction: column;
  }
}

@media only screen and (max-width: 768px){

  .product-listing{
      width: 70%;
  }

}







